<footer class="site-footer">
    <div>
        <img style="vertical-align:middle" src="/assets/images/github.png" />
        <span style="vertical-align:middle">
            <a href="https://github.com/yojimbo87">@ GitHub</a>
        </span>
    </div>
    <div>
        <img style="vertical-align:middle" src="/assets/images/linkedin.png" />
        <span style="vertical-align:middle">
            <a href="https://www.linkedin.com/in/yojimbo87/">@ LinkedIn</a>
        </span>
    </div>
</footer>